@font-face {
  font-family: "Electrolize";
  src: url(../fonts/Electrolize-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Baskerville";
  src: url(../fonts/Baskervville-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico-Regular.ttf) format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #674f9c;
}

.header {
  position: fixed;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 25px;
  color: #ededed;
  font-family: "Electrolize";
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover, .navbar a.active {
  background-color: #774f8b;
}

.home {
  background-image: url('../images/purple-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content {
  font-size: 120px;
  color: white;
  align-items: center;
  font-family: "Pacifico";
}

.home-content p {
  font-size: 30px;
  color: white;
  text-align: center;
  font-family: "Baskerville";
}

.aboutMeContainer {
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.aboutMeDescription p {
  font-size: 25px;
  text-align: center;
  color: #000000;
  font-family: "Baskerville";
}

.projectsContainer{
  background-color: #a82c1a;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.typeOfProjectCard{
  background-color: #ffffff;
  color: #a82c1a;
  border-radius: 20px;
  padding: 40px;
  width:40vh;
  height: 30vh;
  margin-left: 35px;   
}

.learnMore {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #a82c1a;
  background: #a82c1a;
  
}
.learnMore:hover {
  background: #fff;
  color: #a82c1a
}